*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster Two', cursive;   
}

ul{
   list-style-type: none;
   margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a :hover {
    background-color:rgb(189, 173, 173);
  }
.nav li{
    
   border-left: 2px solid white; 
   float: right;
    color: aqua;
    padding: 14px 16px;
    text-align: center;
    cursor: pointer;
    display: block;
}
li:last-child{
    border-left: none;

}
.top{
    color:aqua;
    font-size: 1vw;
    font-weight: bolder;
}
.item{
    color: aqua;  
    /* background-color:black; */
      
  }
  .home{
    display: flex;
    background-image: url('blck.jpg');
    height: 100vh;
}
.photoo{
    float: center;
  display: block;
border:2px solid aqua;
margin: 5vw 5vw 50vw 5vw;
}

#static, .static-text{
    text-align: center;
    display: block;
    color: aquamarine;
    margin: 2vw 34vw 40vw;
   
}
.static-text{
    margin: 30px;
    
}
#name{
    color: antiquewhite;
    font-size: 5vw;   
}
.dynamic{
    color: burlywood;
}
.typing{
    color: cadetblue;
}
@media screen and (min-width: 600px) {
    .home{width: 100%;}
    .photoo{width: 70%;}
    .static-text{width: 100%;}
    div.static-text{
      font-size: 40px;
    }
  }

@media only screen and (max-width: 600px) {
    .photoo{width: 70%;}
    .static-text{width: 100%;}
    div.static-text {
        font-size: 30px;
      }
} 
@media only screen and (min-width: 992px) {
    .photoo{width: 150%;}
    .static-text{width: 100%;}
    div.static-text{
        font-size: 50px;
    }
} 
@media only screen and (max-width: 992px) {
    .photoo{width: 150%;}
    .static-text{width: 100%;}
    div.static-text{
        font-size: 30px;
    }
} 
.sec2{
    display: block;
    padding: 10vh;
    background-image: url("about.jpg");
    height: 100vh;
    color:cornflowerblue;
    font-size: 3vh;
    text-align: center;
}
#heading, h2{
    font-size: 6vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#read_btn{
    background-color: black;
    display: inline-block;
    font-size: 2vh;
    color: burlywood;
    opacity: 1;
    border:#000 3px solid;
    cursor: pointer;
    padding: 1vh;
    text-align: center;
    
}
.nimcet{
    background-color: black;
    margin: 2vh;
    display: inline-block;
    font-size: 2vh;
    opacity: 1;
    border:#000 3px solid;
    cursor: pointer;
    padding: 1vh;
    text-align: center;
    
}
.nim{ color: burlywood;}
#more{display: none;}
hr,#line
{
    border-top: 2px dashed rgb(0, 0, 0);
}
  .about_text{
      margin: 3vh;
      padding: 6vh ;
      color: black;
  }
  @media screen and (min-width: 600px) {
    
    .about1{width: 100%;}
    .about_text{width: 80%;}
    div#heading{
      font-size: 20px;
    }
  }

@media only screen and (max-width: 600px) {
   
    .about_text{width: 100%;}
    div#heading{
        font-size: 10px;
      }
} 
/* @media only screen and (min-width: 992px) {
   
    .about_text{width: 100%;}
    #heading{
        font-size: 50px;
    }
} 
@media only screen and (max-width: 992px) {

    .about_text{width: 100%;}
    #heading{
        font-size: 30px;
    }
}  */